# Bibliothèques de base pour l'IA et la conversation
google-generativeai
python-dotenv
python-telegram-bot[job-queue]

# Bibliothèques pour l'API Google Calendar
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Bibliothèques pour la gestion du temps
pytz
python-dateutil
